In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [32]:
##importing data
tel=pd.read_csv("WA_Fn-UseC_-Telco-Customer-Churn.csv")

In [33]:
tel.columns

Index(['customerID', 'gender', 'SeniorCitizen', 'Partner', 'Dependents',
       'tenure', 'PhoneService', 'MultipleLines', 'InternetService',
       'OnlineSecurity', 'OnlineBackup', 'DeviceProtection', 'TechSupport',
       'StreamingTV', 'StreamingMovies', 'Contract', 'PaperlessBilling',
       'PaymentMethod', 'MonthlyCharges', 'TotalCharges', 'Churn'],
      dtype='object')

In [5]:
##Getting to understand data
tel.head()

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,Female,0,Yes,No,1,No,No phone service,DSL,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,5575-GNVDE,Male,0,No,No,34,Yes,No,DSL,Yes,...,Yes,No,No,No,One year,No,Mailed check,56.95,1889.5,No
2,3668-QPYBK,Male,0,No,No,2,Yes,No,DSL,Yes,...,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
3,7795-CFOCW,Male,0,No,No,45,No,No phone service,DSL,Yes,...,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No
4,9237-HQITU,Female,0,No,No,2,Yes,No,Fiber optic,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes

In [9]:
tel.tail()

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
7038,6840-RESVB,Male,0,Yes,Yes,24,Yes,Yes,DSL,Yes,...,Yes,Yes,Yes,Yes,One year,Yes,Mailed check,84.80,1990.5,No
7039,2234-XADUH,Female,0,Yes,Yes,72,Yes,Yes,Fiber optic,No,...,Yes,No,Yes,Yes,One year,Yes,Credit card (automatic),103.20,7362.9,No
7040,4801-JZAZL,Female,0,Yes,Yes,11,No,No phone service,DSL,Yes,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.60,346.45,No
7041,8361-LTMKD,Male,1,Yes,No,4,Yes,Yes,Fiber optic,No,...,No,No,No,No,Month-to-month,Yes,Mailed check,74.40,306.6,Yes
7042,3186-AJIEK,Male,0,No,No,66,Yes,No,Fiber optic,Yes,...,Yes,Yes,Yes,Yes,Two year,Yes,Bank transfer (automatic),105.65,6844.5,No

In [6]:
tel.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customerID        7043 non-null   object
 1   gender            7043 non-null   object
 2   SeniorCitizen     7043 non-null   int64
 3   Partner           7043 non-null   object
 4   Dependents        7043 non-null   object
 5   tenure            7043 non-null   int64
 6   PhoneService      7043 non-null   object
 7   MultipleLines     7043 non-null   object
 8   InternetService   7043 non-null   object
 9   OnlineSecurity    7043 non-null   object
 10  OnlineBackup      7043 non-null   object
 11  DeviceProtection  7043 non-null   object
 12  TechSupport       7043 non-null   object
 13  StreamingTV       7043 non-null   object
 14  StreamingMovies   7043 non-null   object
 15  Contract          7043 non-null   object
 16  PaperlessBilling  7043 non-null   object
 17  PaymentMethod     7043 non-null   object
 18  MonthlyCharges    7043 non-null   float64
 19  TotalCharges      7043 non-null   object
 20  Churn             7043 non-null   object
dtypes: float64(1), int64(2), object(18)
memory usage: 1.1+ MB

In [8]:
tel.describe()

       SeniorCitizen       tenure  MonthlyCharges
count    7043.000000  7043.000000     7043.000000
mean        0.162147    32.371149       64.761692
std         0.368612    24.559481       30.090047
min         0.000000     0.000000       18.250000
25%         0.000000     9.000000       35.500000
50%         0.000000    29.000000       70.350000
75%         0.000000    55.000000       89.850000
max         1.000000    72.000000      118.750000

In [34]:
##Checking for missing values
tel.isna().any()

customerID          False
gender              False
SeniorCitizen       False
Partner             False
Dependents          False
tenure              False
PhoneService        False
MultipleLines       False
InternetService     False
OnlineSecurity      False
OnlineBackup        False
DeviceProtection    False
TechSupport         False
StreamingTV         False
StreamingMovies     False
Contract            False
PaperlessBilling    False
PaymentMethod       False
MonthlyCharges      False
TotalCharges        False
Churn               False
dtype: bool

# 1. Demographic:
 ## a.Which 2 demographics have proven to be the most popular with the telco brand?

In [10]:
tel.SeniorCitizen.value_counts()

0    5901
1    1142
Name: SeniorCitizen, dtype: int64

In [11]:
tel.Partner.value_counts()

No     3641
Yes    3402
Name: Partner, dtype: int64

In [12]:
tel.Dependents.value_counts()

No     4933
Yes    2110
Name: Dependents, dtype: int64

In [13]:
tel.gender.value_counts()

Male      3555
Female    3488
Name: gender, dtype: int64

In [14]:
##The two demographics that are most popular with the telco brand are non-senior citizens and also those without any known dependants.

# b. If the marketing team wanted to increase customer retention, to whom should they target their advertisements to?

In [41]:
tel.groupby(["SeniorCitizen", "Partner", "Dependents","gender","Churn" ]).size().unstack()

Churn                                     No  Yes
SeniorCitizen Partner Dependents gender
0             No      No         Female  909  429
                                 Male    963  418
                      Yes        Female  110   32
                                 Male    168   43
              Yes     No         Female  482  114
                                 Male    439  128
                      Yes        Female  720  124
                                 Male    717  105
1             No      No         Female  159  158
                                 Male    126  118
                      Yes        Female    2    1
                                 Male      4    1
              Yes     No         Female  136   73
                                 Male    176  105
                      Yes        Female   31    8
                                 Male     32   12

In [ ]:
##To increase customer retention, the marketing team should focus on individuals who are not senior citizens, have neither dependants nor any known partners.Indivuals with the qualities mentioned before could be either males or females however much emphasis should on the females as they are the largest number to leave as shown above.

# 2. Services:

a. Which 3 services are contributing to a higher monthly charge and resulting to
customers churning? (Use visualizations in explaining your analysis)

In [42]:
tel.groupby(["PhoneService","MultipleLines","InternetService","OnlineSecurity","OnlineBackup","DeviceProtection","TechSupport","StreamingTV","StreamingMovies","Churn" ]).size().unstack()

Churn                                                                                                                                                                     No  \
PhoneService MultipleLines    InternetService OnlineSecurity      OnlineBackup        DeviceProtection    TechSupport         StreamingTV         StreamingMovies
No           No phone service DSL             No                  No                  No                  No                  No                  No                    45.0
                                                                                                                                                  Yes                    5.0
                                                                                                                              Yes                 No                     5.0
                                                                                                                                                  Yes                   11.0
                                                                                                          Yes                 No                  No                    15.0
...                                                                                                                                                                      ...
Yes          Yes              Fiber optic     Yes                 Yes                 Yes                 Yes                 No                  No                    15.0
                                                                                                                                                  Yes                   14.0
                                                                                                                              Yes                 No                    10.0
                                                                                                                                                  Yes                  111.0
                              No              No internet service No internet service No internet service No internet service No internet service No internet service  332.0

Churn                                                                                                                                                                   Yes
PhoneService MultipleLines    InternetService OnlineSecurity      OnlineBackup        DeviceProtection    TechSupport         StreamingTV         StreamingMovies
No           No phone service DSL             No                  No                  No                  No                  No                  No                   35.0
                                                                                                                                                  Yes                  13.0
                                                                                                                              Yes                 No                    7.0
                                                                                                                                                  Yes                  10.0
                                                                                                          Yes                 No                  No                    6.0
...                                                                                                                                                                     ...
Yes          Yes              Fiber optic     Yes                 Yes                 Yes                 Yes                 No                  No                    1.0
                                                                                                                                                  Yes                   NaN
                                                                                                                              Yes                 No                    1.0
                                                                                                                                                  Yes                  10.0
                              No              No internet service No internet service No internet service No internet service No internet service No internet service  10.0

[322 rows x 2 columns]

In [45]:
service=tel[["PhoneService","MultipleLines","InternetService","OnlineSecurity","OnlineBackup","DeviceProtection","TechSupport","StreamingTV","StreamingMovies"]]
print(service)

     PhoneService     MultipleLines InternetService OnlineSecurity  \
0              No  No phone service             DSL             No
1             Yes                No             DSL            Yes
2             Yes                No             DSL            Yes
3              No  No phone service             DSL            Yes
4             Yes                No     Fiber optic             No
...           ...               ...             ...            ...
7038          Yes               Yes             DSL            Yes
7039          Yes               Yes     Fiber optic             No
7040           No  No phone service             DSL            Yes
7041          Yes               Yes     Fiber optic             No
7042          Yes                No     Fiber optic            Yes

     OnlineBackup DeviceProtection TechSupport StreamingTV StreamingMovies
0             Yes               No          No          No              No
1              No              Yes          No          No              No
2             Yes               No          No          No              No
3              No              Yes         Yes          No              No
4              No               No          No          No              No
...           ...              ...         ...         ...             ...
7038           No              Yes         Yes         Yes             Yes
7039          Yes              Yes          No         Yes             Yes
7040           No               No          No          No              No
7041           No               No          No          No              No
7042           No              Yes         Yes         Yes             Yes

[7043 rows x 9 columns]

In [46]:
tel.groupby(["service","churn"])

KeyError: 'service'